@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet');

html,
body {
    height: 100%;
}

.greetings,
p,
h1, 
h2 {
    font-family: 'Noto Serif JP', serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #E6E6E6;
    padding: 5px;
    height: fit-content;
}

.header, .left, .rigth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    margin-bottom: 0px;
    background-color: #5a7eeb;
    padding: 10px;
}
.headsup {
    display: flex;
    font-size: large;
    justify-content: center;
    background-color: rgb(80, 175, 144);
    margin: 0px;
    padding: 10px;
}
ul  {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5rem;
    color: #d4d1d1;
    font-weight: 800;
}
.link:hover {
    color: #f7f1f1;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
}

.fullname {
    margin-right: 20px;
    flex-basis: 750px;
}

.myImg {
    margin-top: 150px;
    padding-left: 20px;
    flex-basis: 450px;
}

.knowledge {
    display: flex;   
    flex-direction: column;
    align-items: center;
}

.article {
    margin-top: 2em;   
}


p {
    font-size: 1.2rem;
    color: #08298A;
    padding-left: 20px;
}

.text {
    font-size: 1rem;
    color: #585858;
}

h2 {
    text-align: center;
    color: #d4d1d1;
}

h1 {
    color: #08298A;
    text-align: center;
    font-size: 2rem;
}

.footer {
    background-color: #5a7eeb;
    flex: 0 0 auto;
    
}